services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.local
      args:
        INSTALL_GIT: ${INSTALL_GIT:-false}
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    # env_file:
    #   - .env
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: shownxt
      POSTGRES_USER: shownxt_user
      POSTGRES_PASSWORD: shownxt_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
